<%# 
<div class="container">
  <h2  class="py-5 ">がく10について</h2>

  <p>このサイトは学童の先生たちで交流できます</p>


  <div class="py-5">
    <p>声を繋げる</p>
    <p>学童の先生たちで情報を交換できるサービスです</p>
  </div>

  <div class="py-5">
    <h5>がく10でできること</h5>

    <h5>学童の先生たちと意見交換することができます</h5>
    <p>
      子どもにどのように支援したらいいか迷ったときはありませんか？</br>
      また、自分の学童以外のところではどのようにしているのか</br>
      気になったことはありませんか？</br>
      解決することが難しいことやアイディアがほしいときに、</br>
      他の先生方に相談することで、</br>
      解決へのヒントが見つかるかもしれません。
    </p>
  </div>

  <div class="py-5">
    <h5>ちょっとしたことでトーク</h5>
    <p>
      先輩や同僚でも「わざわざ話す必要ないな」と</br>
      思ってしまうようなこと、ありませんか？</br>
      そんな日常のちょっとしたこと、みんなで共有してお話ししませんか？
    </p>
  </div>

  <div class="py-5">
    <h5>ジャンル別の投稿</h5>
    <p>
      「アイディア」「Q&A」「トーク」など、</br>
      お好みの質問形式を選んで投稿することができます。</br>
      また、先生たちのグループを作成するときも</br>
      ジャンルを選んでコミュニティを作り、</br>
      グループ内の投稿を確認することができます。
    </p>
  </div>
</div>
%>




<div class="wrapper">

    <div class="illustration-area">
        <%= image_tag "talk.png" %>
    </div>

  <div class="text-area">
    <div class="text-block active">
      <h2>がく10について</h2>
      <p>このサイトは学童の先生たちで交流できます</p>
      <p>声を繋げる</p>
      <p>学童の先生たちで情報を交換できるサービスです</p>
    </div>

    <div class="text-block">
      <h2>がく10でできること</h2>
      <p>      子どもにどのように支援したらいいか迷ったときはありませんか？</br>
      また、自分の学童以外のところではどのようにしているのか</br>
      気になったことはありませんか？</br>
      解決することが難しいことやアイディアがほしいときに、</br>
      他の先生方に相談することで、</br>
      解決へのヒントが見つかるかもしれません</p>
    </div>

    <div class="text-block">
      <h2>ちょっとしたことでトーク</h2>
      <p>先輩や同僚でも「わざわざ話す必要ないな」と</br>
      思ってしまうようなこと、ありませんか？</br>
      そんな日常のちょっとしたこと、みんなで共有してお話ししませんか？</p>
    </div>

    <div class="text-block">
      <h2>ジャンル別の投稿</h2>
      <p>「アイディア」「Q&A」「トーク」など、</br>
      お好みの質問形式を選んで投稿することができます。</br>
      また、先生たちのグループを作成するときも</br>
      ジャンルを選んでコミュニティを作り、</br>
      グループ内の投稿を確認することができます。</p>
    </div>
  </div>

</div>
