<div class=" about-back">


    <div class=" text-block">
      <h2>がく10について</h2>
      <p class=" about-p">
      このサイトは学童の先生たちで交流できます</br>
      声を繋げる</br>
      学童の先生たちで情報を交換できるサービスです
      </p>
    </div>

    <div class="tile"></div>

    <div class="tile"></div>

    <div class=" text-block">
      <h2>がく10でできること</h2>
      <p class=" about-p">
      子どもにどのように支援したらいいか</br>
      迷ったときはありませんか？</br>
      他の先生方に相談することで、</br>
      解決へのヒントが見つかるかもしれません
      </p>
    </div>


</div>

<div class="box-container">

  <div class="about-box">
    <h4>アイディア</h4>
    <p>
    みんなのアイディアを集めます</br>
    遊び、制作物やイベントなどの引き出しを<br>
    先生たちがいつでも見られる場所に。<br>
    日々の保育に役立つヒントを届けます。
    </p>
  </div>

  <div class="about-box">
    <h4>教えて先生</h4>
    <p>
      他の先生に気軽に質問できます。<br>
      「教えて」と聞いてみましょう<br>
      いろいろな視点を知れば、<br>
      解決の糸口が見つかるかもしれません。
    </p>
  </div>

  <div class="about-box">
    <h4>トーク</h4>
    <p>
      ふだんの何気ないことを、<br>
      気軽にお話ししてみませんか？<br>
      楽しい雑談も相談も、<br>
      ここでゆるくつながれます。

    </p>
  </div>

</div>