<div class="container">
  <h1  class="row py-5">がく10について</h1>
  <p>このサイトは学童の先生たちで交流できます</p>

  <div class="py-5">
    <p>声を繋げる</p>
    <p>学童の先生たちで情報を交換できるサービスです</p>
  </div>

  <div class="py-5">
    <p>がく10でできること</p>
    <p>学童の先生たちと意見交換することができます</p>
    <p>
      子どもにどのように支援したらいいか迷ったときはありませんか？
      また、自分のところ以外の学童以外ではどのようにしているのか気になったことはありませんか？
      解決することが難しいことやアイディアがほしいときに、他の先生方に相談することで、
      解決へのヒントが見つかるかもしれません。
    </p>
  </div>

  <div class="py-5">
    <p>ちょっとしたことでもトークすることができます</p>
    <p>
      先輩や同僚でも「わざわざ話す必要ないな」と思ってしまうようなこと、ありませんか？
      そんな日常のちょっとしたこと、みんなで共有してお話ししませんか？
    </p>
  </div>

  <div class="py-5">
    <p>ジャンル別に投稿できます</p>
    <p>
      「アイディア」「Q&A」「トーク」など、お好みの質問形式を選んで投稿することができます。
      また、先生たちのグループを作成する際もジャンルを選んでコミュニティを作り、
      グループ内の投稿を確認することができます。
    </p>
  </div>

</div>