/*************************************
 * 12. 紙飛行機アニメーション（hero）
 *************************************/
/* 背景 */
.top-hero {
  background-color: #5EAC89;
  position: relative;
  overflow: hidden;

}

.text-block{
  padding: 64px;
  display: inline-block;
}

.about-back{
  width: 100%;
  background-color: #A8D577;
}

.box{
  display: inline-block;
  width:200px;
  height:100px;
}

.box-container{
  padding: 120px 64px;
  background-color: #DFECB7;
  text-align:  center;
  
}