/*************************************
 * 12. 紙飛行機アニメーション（hero）
 *************************************/
/* 背景 */
.top-hero {
  
  background-image: url(/assets/ground.png);
  background-size: cover;
  position: relative;
  overflow: hidden;

}

  .about-p{
  color: rgba( 28, 53, 95, 0.55);
  }

@media (min-width: 1290px) {
  .about-back{
    padding: 80px 64px;
    width: 100%;
    background-color: #A8D577;
    display: grid;
    gap: 64px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  h1,h2,h4{
    color: rgba( 28, 53, 95, 1);
  }

  p{
    color: rgba( 28, 53, 95, 0.55);
  }

  .tile1,
  .tile4{
    padding: 64px;
  }
}

.tile2{
  background-image: url(/assets/tile1.png);
  border-radius: 16px;
  width: 544px;
  height: 432px;
  margin: 0 auto;
}

.tile3{
  background-image: url(/assets/tile2.png);
  border-radius: 16px;
  width: 544px;
  height: 432px;
  margin: 0 auto;
}

.about-box{
  margin: 0 auto;
  padding-top: 24px;
  border-top:1px solid rgba( 28, 53, 95, 0.15);
}

.box-container{
  padding: 120px 64px;
  background-color: #DFECB7;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;

  p{
  color: rgba( 28, 53, 95, 0.55);
  }
}

.origami{
  text-align: center;
}


@media (max-width: 1289px) {
  .about-back{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    background-color: #A8D577;
    p,h2{
      text-align: center;
      color: rgba( 28, 53, 95, 0.55);
    }
  }
  .tile1,
  .tile2{
  grid-column: 1;
  grid-row: auto;
  }
  .tile1{
    order: 1;
  }
  .tile2{
    order: 2;
  }
  .tile4{
    order: 3;
  }
  .tile3{
    order: 4;
  }
}
