.header-back {
  background: linear-gradient(#91D6F5,rgba(185,233,241,0.8));
}


.search-btn{
  text-align: center;
  color: #fff;
  background: #93b3ca;
  border: 2px solid #93b3ca;
  border-radius: 100vh;
  text-decoration: none;
}

.header-btn{
  display: block;
  text-align: center;
  vertical-align: text-top;
  text-decoration: none;
  color: black;
}

.header-btn-fill{
  display: block;
  text-align: center;
  vertical-align: text-top;
  color: #F8FAF9;
  background: #1C355F;
  border: 2px solid rgba(28,53,95,0.15);
  border-radius: 12px;
  text-decoration: none;
  padding: 4px 0px 4px 0px;
  
}
