<div class="text-center h3 mb-5 py-3">
  ジャンル一覧
</div>

<div class="container">
  <div class="row py-3 mt-5">

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <td>ジャンル名</td>
          <td>ジャンルについて</td>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= link_to  genre.name, public_genre_path(genre)%></td>
            <td><%= genre.introduction %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
