@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'base/utilities';

@import 'components/button';

@import 'components/flash_message';

@import 'components/icon';

@import 'components/sort_link';

/* post-index ハート色 */
.like-icon {
  color: #7d7d7d;
}

@import 'components/label';

@import 'components/sort_link';

@import 'layouts/about';

@import 'layouts/flame';

@import 'layouts/footer';

@import 'layouts/post_image';

@import 'layouts/table';


