/* ボタン色「新規登録へ」 */
.btn-round {
  display: inline-block;
  color: #93b3ca;
  background: transparent;
  border: 2px solid #93b3ca;
  border-radius: 100vh;
  padding: 6px 20px;     
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.btn-round:hover {
  background: #7fa5be;
  border-color: #7fa5be;
  color: #fff;
}

.submit-btn{
  color: #fff;
  float: right;
}
