
 .search-btn{
  text-align: center;
  color: #fff;
  background: #93b3ca;
  border: 2px solid #93b3ca;
  border-radius: 100vh;
  text-decoration: none;
}

.header-btn{
  display: block;
  text-align: center;
  vertical-align: text-top;
  text-decoration: none;
  color: black;
}

.header-btn-fill{
  display: block;
  text-align: center;
  vertical-align: text-top;
  color: #fff;
  background: #93b3ca;
  border: 2px solid #93b3ca;
  border-radius: 100vh;
  text-decoration: none;
  padding: 4px 0px 4px 0px;
}

/* ボタン色「新規登録へ」 */
.btn-round {
  display: inline-block;
  color: #93b3ca;
  background: transparent;
  border: 2px solid #93b3ca;
  border-radius: 100vh;
  padding: 6px 20px;     
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.btn-round:hover {
  background: #7fa5be;
  border-color: #7fa5be;
  color: #fff;
}

.submit-btn{
  color: #fff;
  float: right;
}
