
.sort-links a {
  text-decoration: none;
  color: #45728f;
  font-weight: 500;
  margin: 0 6px;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.sort-links a:hover {
  border-color: #fea06d;
  color: #fea06d;
}